/* ==================== Search Bar ====================*/

.search-bar {
    position: fixed; 
    background-color: #1f1f1f;
    top: 80px;
    width: calc(100% - 55px);
    align-items: center;
    margin: 0px auto;
    display: flex;
    padding: 10px 0px;  
    border-radius: 8px;
}

#search-input{
    padding:5px 10px;
    border: none;
    background-color: transparent;
    color: #fff;
    height: 1.2rem;
    width: 100%;
}

#search-input:focus{
    outline: none;
}

#search-input::placeholder{
    color: #cccccc;
    font-size: 1rem;
}

#search-input:focus::placeholder {
    color: transparent;
}

.search-icon{
    color: #cccccc;
    margin-left: 20px;
}

/* ==================== Search Result ====================*/

.search-results{
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
    margin-top: 70px;
    height: calc(100vh - 100px);
}

.result-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 calc(50% - 2%);
    padding: 20px 20px;
    border-radius: 6px;
    background-color: #192734;
    box-sizing: border-box;
}

.result-item img{
    height: 150px;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 6px;
    object-fit: cover;
}

.result-info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 5px;
    flex: 1;
}

.result-info h3{
    font-size: 1.5rem;
}

.song-title, 
.artist,
.extra-info{
    margin: 0;
    padding: 0;
}

.extra-info span{
    font-size: calc(85%);
}

.play-btn{
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.play-btn:hover{
    transform: scale(1.09);
}

.play-icon{
    font-size: 36px;
}

/* mobile */
@media (min-width:320px) and (max-width: 760px) {
    .result-item {
        flex: 1 1 100%;
    }

    .result-item img{
        height: 70px;
    }

    .extra-info{
        display: none;
    }
}