{% extends 'base.html' %}

<!-- CSS Links -->
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/index.css') }}">
{% endblock %}

<!-- Main page content -->
{% block content %}
    <section class="history">
        <h2>History</h2>
        <div class="history-container">
            <!-- <buttton class="clear-history-btn">Clear History</buttton> -->
            <div class="history-item">
                <img src="{{ url_for('static', filename='images/placeholder.webp') }}" alt="Song cover" class="history-img">
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>
            </div>
            
            <div class="history-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="Song cover" class="history-img">
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>
            </div>
            
            
            <div class="history-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="Song cover" class="history-img">
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>
            </div>
            
            
            <div class="history-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="Song cover" class="history-img">
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>
            </div>
            
            
            <div class="history-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="Song cover" class="history-img">
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>
            </div>
            
            <div class="history-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="Song cover" class="history-img">
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>
            </div>
            
            <div class="history-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="Song cover" class="history-img">
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>
            </div>
    </section>

    <section class="playlist">
        <h2>Playlists</h2>
        <div class="playlist-container">
            <div class="playlist-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="Playlist cover" class="playlist-img">
                <div class="playlist-info">
                    <p class="playlist-name">Playlist Name</p>
                </div>
            </div>
            
            <div class="playlist-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="Playlist cover" class="playlist-img">
                <div class="playlist-info">
                    <p class="playlist-name">Playlist Name</p>
                </div>
            </div>
            
            <div class="playlist-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="Playlist cover" class="playlist-img">
                <div class="playlist-info">
                    <p class="playlist-name">Playlist Name</p>
                </div>
            </div>
            
            <div class="playlist-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="Playlist cover" class="playlist-img">
                <div class="playlist-info">
                    <p class="playlist-name">Playlist Name</p>
                </div>
            </div>
            
            <div class="playlist-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="Playlist cover" class="playlist-img">
                <div class="playlist-info">
                    <p class="playlist-name">Playlist Name</p>
                </div>
            </div>
            
            <div class="playlist-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="Playlist cover" class="playlist-img">
                <div class="playlist-info">
                    <p class="playlist-name">Playlist Name</p>
                </div>
            </div>

        </div>
        
    </section>
{% endblock %}

<!-- Js Links -->
{% block scripts %}
{% endblock %}