{% extends 'base.html' %}

<!-- CSS Links -->
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/index.css') }}">
{% endblock %}

<!-- Main page content -->
{% block content %}
    <h1>Welcome to MyMusic</h1>
    <section class="history">
        <h2>History</h2>
        <div class="history-container">
            <div class="history-item">
                <div class="history-img">
                    <img src="{{ url_for('static', filename='images/placeholder.webp') }}" alt="Song cover">
                </div>
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>                
            </div>
            
            <div class="history-item">
                <div class="history-img">
                    <img src="{{ url_for('static', filename='images/image.png') }}" alt="Song cover">
                </div>
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>                
            </div>
            
            <div class="history-item">
                <div class="history-img">
                    <img src="{{ url_for('static', filename='images/image.png') }}" alt="Song cover">
                </div>
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>                
            </div>
            
            <div class="history-item">
                <div class="history-img">
                    <img src="{{ url_for('static', filename='images/image.png') }}" alt="Song cover">
                </div>
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>                
            </div>
            
            <div class="history-item">
                <div class="history-img">
                    <img src="{{ url_for('static', filename='images/image.png') }}" alt="Song cover">
                </div>
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>                
            </div>
            
            <div class="history-item">
                <div class="history-img">
                    <img src="{{ url_for('static', filename='images/image.png') }}" alt="Song cover">
                </div>
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>                
            </div>
            
            <div class="history-item">
                <div class="history-img">
                    <img src="{{ url_for('static', filename='images/image.png') }}" alt="Song cover">
                </div>
                <div class="history-info">
                    <p class="song-title">Name</p>
                    <p class="song-artist">Artist</p>
                </div>                
            </div>
            
            

        </div>
    </section>
{% endblock %}

<!-- Js Links -->
{% block scripts %}
{% endblock %}