{% extends 'base.html' %}

<!-- CSS Links -->
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/search.css') }}">
{% endblock %}

<!-- Main page content -->
{% block content %}
    <div class="search-container">
        <!------- Search bar ------->
        <div class="search-bar">
            <i class="fa fa-search search-icon"></i>
            <input type="text" id="search-input" placeholder="Search...">
        </div>

        <!------- Search Results ------->
        <div class="search-results">
            <!-- Result item -->
            <div class="result-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="search result image" />
                <div class="result-info">
                    <h3 class="song-title">Song name</h3>
                    <p class="artist">Artist</p>
                    <p class="extra-info">
                        <span class="duration">3:00</span>
                        <span class="album">Album</span>
                        <span class="likes">80k</span>
                    </p>
                </div>
                <div class="controls">
                    <button class="play-btn"><i class="fa fa-play play-icon"></i></button>
                    <!-- <button class="play-btn"><i class="fa fa-pause play-icon"></i></button> -->
                </div>
            </div>
            <!--  -->
            <div class="result-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="search result image" />
                <div class="result-info">
                    <h3 class="song-title">Song name</h3>
                    <p class="artist">Artist</p>
                    <p class="extra-info">
                        <span class="duration">3:00</span>
                        <span class="album">Album</span>
                        <span class="likes">80k</span>
                    </p>
                </div>
                <div class="controls">
                    <button class="play-btn"><i class="fa fa-play play-icon"></i></button>
                    <!-- <button class="play-btn"><i class="fa fa-pause play-icon"></i></button> -->
                </div>
            </div>

            <div class="result-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="search result image" />
                <div class="result-info">
                    <h3 class="song-title">Song name</h3>
                    <p class="artist">Artist</p>
                    <p class="extra-info">
                        <span class="duration">3:00</span>
                        <span class="album">Album</span>
                        <span class="likes">80k</span>
                    </p>
                </div>
                <div class="controls">
                    <button class="play-btn"><i class="fa fa-play play-icon"></i></button>
                    <!-- <button class="play-btn"><i class="fa fa-pause play-icon"></i></button> -->
                </div>
            </div>

            <div class="result-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="search result image" />
                <div class="result-info">
                    <h3 class="song-title">Song name</h3>
                    <p class="artist">Artist</p>
                    <p class="extra-info">
                        <span class="duration">3:00</span>
                        <span class="album">Album</span>
                        <span class="likes">80k</span>
                    </p>
                </div>
                <div class="controls">
                    <button class="play-btn"><i class="fa fa-play play-icon"></i></button>
                    <!-- <button class="play-btn"><i class="fa fa-pause play-icon"></i></button> -->
                </div>
            </div>

            <div class="result-item">
                <img src="{{ url_for('static', filename='images/image.png') }}" alt="search result image" />
                <div class="result-info">
                    <h3 class="song-title">Song name</h3>
                    <p class="artist">Artist</p>

                    <p class="extra-info">
                        <span class="album">Album</span>
                        <span class="duration">3:00</span>
                        <span class="likes">80k</span>
                    </p>
                </div>
                <div class="controls">
                    <button class="play-btn"><i class="fa fa-play play-icon"></i></button>
                    <!-- <button class="play-btn"><i class="fa fa-pause play-icon"></i></button> -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Js Links -->
{% block scripts %}
{% endblock %}